html {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  display: flex;
  background-color: rgb(93, 93, 233);
  align-items: center;
  height: 15%;
  justify-content: space-between;
  color: black;
}

.btn {
  display: flex;
}

.lnk {
  display: flex;
}

.link {
  text-decoration: none;
  color: black;
  padding: 5%;
}

.formCard {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 5rem;
  margin-left: 30rem;
  border: solid blue 2px;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 2px 2px 2px black;
}
