html {
  display: flex;
  flex-direction: column;
  height: 100%;
}
#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
nav {
  display: flex;
  background-color: rgb(93, 93, 233);
  align-items: center;
  height: 15%;
  justify-content: space-between;
  color: black;
}

.btn {
  display: flex;
}

.lnk {
  display: flex;
}

.link {
  text-decoration: none;
  color: black;
  padding: 5%;
  white-space:nowrap
}

.formCard {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-top: 5rem;
  margin-left: 30rem;
  border: solid blue 2px;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 2px 2px 2px black;
}

.routineCard {
  display: flex;
  flex-direction: column;
  border: 3px solid #005fff;
}

.activityCard {
  display: flex;
  flex-direction: column;
  border: 1px solid #07effd;

}

.cardsField {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.name {
  background: linear-gradient(90deg, #07effd 0%, #005fff 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.4rem;
  background-position: 0 90%;
  transition: all 0.3s ease-in-out;
  font-size: larger;
  font-weight: bolder;
}

.name:hover {
  background-size: 100% 90%;
}

.creator {
  display: flex;
  gap: 2px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(1);
  transition: 200ms ease-in-out;
  border:1px solid black;
  border-radius: 10px;
  z-index: 1000 ;
  background-color: white;
  width :fit-content;
  max-width: 60%;
  height: fit-content;
}

.modal-header {
  background-color: #fefefe;
  padding: 10px 15px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-header .title{
  font-size: 1.25rem;
  font-weight: bold;
}

.close-button {
  cursor:pointer;
  border: none;
  outline:none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body{
  padding:10px 15px
}

#overlay{
  position: fixed;
  opacity:1;
  transition: 200ms ease-in-out;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index: 900 ;
  background-color: rgba(0,0,0,.5);
  pointer-events:none;
}
